/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  border: 1px solid #FFF
  max-width: 1280px;
  background: #f9f7de url(../image/top_bg.png) center center no-repeat;
  background-size: 90%;
}

main div.container {
  width: 55%;
  margin-right: 45%;
  color: #333;
  text-align: right;
}
main div.container h1 {
  color: #715844;
}
main div.container p {
  color: #b7b07a;
  line-height: 2;
}
form {
  padding: 20px 0 5px;
}
form .form-group label i {
  color: #715844;
}
form .form-group input#userID {
  border: 0;
  border-bottom: 1px solid #715844;
  border-radius: 0;
  background: none;
  padding: 5px;
  height: auto;
  color: #715844;
}
form.invalid input#userID {
  border-bottom: 1px solid #dc3545;
}
.invalid-feedback {
  text-align: left;
}

form .btn-primary {
  border: 0;
  background-color: #7ecef4;
}
/*
 * Header
 */
.masthead {
  margin: 2rem 1.5rem;
}

.masthead-brand {
  width: 100%;
  height: 25px;
  margin-bottom: 0;
  color: #333;
  background:  url(../image/hitachi_logo.svg) left center no-repeat;
  background-size: auto 100%;
}
.masthead-brand span {
  display: none;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: #999;
}

@media (min-width: 420px) {
  main div.container h1 {
    font-size: 2rem;
  }
  
  main div.container p {
    font-size: .9rem;
  }
}

@media (min-width: 768px) {
  main div.container h1 {
    font-size: 3rem;
  }
  
  main div.container p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1280px) {
  main div.container h1 {
    font-size: 3.8rem;
  }
  
  main div.container p {
    font-size: 1.8rem;
  }
}